BOT_TOKEN=your_telegram_bot_token
DB_PATH=schedule_bot.db

MAIN_SHEET_URL=https://docs.google.com/spreadsheets/d/1JaL7-otunC3ERFqHM3UYDtAo-aM3ad_R/htmlview
PRACTICE_SHEET_URL=https://docs.google.com/spreadsheets/d/1G0Cf6Ix3BkW_jdLO_1lwrVnsZicIydSBpTziQ13LJug/htmlview#gid=1846521456

DEBUG_PARSER=false
